<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each app.page.heroSlider}}
        <div class="swiper-slide">
            <div class="flex flex-col gap-4">
                <p class="text-center text-4xl">{{title}}</p>
                <p class="text-center">{{subtitle}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>
